*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}





.intro-pattern{
    display: none;
}

.head-desktop{
    display: none;
}

.head-desktop a:hover{
  color: black;
}





img{
    pointer-events: none;
   
}

body{
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
    padding: 0;
 
}


button{
    background-color: transparent;
    border: none;
}

.section-1-btn, .section-2-bottom > button, .dropdown button{
    color: white;
    border: 1px solid white;
    margin-top: 2em;
    padding: 10px 30px;
    font-size: 1rem;
}

.dropdown button{
    margin-top: 0;
    font-size: 2rem;
    padding: 10px 80px;
}

.intro-img{
   width: 100%;
   image-rendering: -webkit-optimize-contrast;
}

.section-2{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    
  
    
}

.dropdown{
    background-image: url("images/bg-pattern-mobile-nav.svg");
    background-repeat: no-repeat;
    background-position: right bottom;
    background-color:   hsl(270, 9%, 17%);
    height: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 2em;
    padding-top: 2em;
    display: none;
    transform: translateY(75px);
    position: absolute;
} 

.display-dropdown{
    background-image: url("images/bg-pattern-mobile-nav.svg");
    background-repeat: no-repeat;
    background-position: right bottom;
    background-color:   hsl(270, 9%, 17%);
    height: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 2em;
    padding-top: 2em;
    display: none;
    transform: translateY(75px);
    position: absolute;
    display: flex;
}

 .dropdown a{
    text-decoration: none;
    color: white;
    font-family: 'karla';
    font-size: 2rem;

}



/* layout */

.container{

    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    width: 100%;
    
   
}



.section-1{
    text-align: center;
    height: 600px;
    background-image: url("images/bg-pattern-intro-right-mobile.svg");
    background-repeat: no-repeat;
    background-position: right bottom;
    margin: 0 auto;
    width: 100%;
  
}

.bg-color{
    height: 540px;
    background-color:  hsl(256, 26%, 20%);
    width: 100%;
    margin-bottom: 12em;
    background-image: url("images/bg-pattern-intro-left-mobile.svg");
    background-repeat: no-repeat;
    background-position:  left top;
   
}

.top h1{
    margin: 1em auto;
}

.section-1  p{
    margin: 1.5em auto 0;
    max-width: 20em;

}

.section-1 h1, p{
    margin-top: 1.5em;
}

.section-2 h1{
    margin-bottom: 2em;

}


.icon-section{
  
    display: flex;
    flex-direction: column;
    align-items: center;
   
}
.icon-section h2{
    font-family: 'DM Serif Display', sans-serif;
    margin: 1.5rem auto 0.8em;
    
}

.icon-div{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.section-2 p{
    color: #333;
    margin: 0 auto 3em;
    max-width: 20em;
    text-align: center;
}

header{
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
    width: 100%;
}

.top-hr{
    width: 100%;
    margin-bottom: 2em;
}

hr{
    width: 90%;
    margin-bottom: 3em;
}

.section-2-bottom{
    background-image: url("images/bg-pattern-how-we-work-mobile.svg");
    background-position: top right;
    background-repeat: no-repeat;
    background-color: hsl(256, 26%, 20%);
    height: 360px;
    margin-top: 4em;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}




.section-2-bottom h1{
   color: white;
   text-align: center;
   margin: 1em 0 0 ;
}

.footer{
    background-image: url("images/bg-pattern-footer-mobile.svg");
    background-repeat: no-repeat;
    background-color: hsl(0, 0%, 98%);
    margin-top: 10em;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 6em;
    padding-bottom: 6em;
}

.footer p{
  color: hsl(273, 4%, 51%);
  font-weight: 700;
  margin-bottom: 1em;
}

.footer a{
    text-decoration: none;
    color:  hsl(270, 9%, 17%);
    margin-bottom: 0.5em;
    font-weight: 700;
    font-family: 'karla';
}


.social a:hover{
    filter: brightness(50%);
}

.footer a:hover{
    text-decoration: underline;
}

.social{
    margin-top: 2em;
    margin-bottom: 3em;
    display: flex;
    justify-content: space-between;
    width: 40%;
}


/* Typography */

.section-1 h1, p{
    color: white;
}

h1{
    font-family: 'DM Serif Display', sans-serif;
    font-weight: 400;
    font-size: 2.5rem;
  
    line-height: 55px;
    max-width: 7em;
    

    
   
}

p{
    font-family: 'karla', sans-serif;
    font-weight: 300;
    line-height: 30px;

}

.hr-div{
    display: flex;
    width: 20%;
    justify-content: center;
 
    
}

.footer-top{
    display: flex;
    flex-direction: column;
   
    width: 100%;
    align-items: center;
}

span{
    display: flex;
    flex-direction: column;
    text-align: center;

}

.section-1 button:hover,  .section-2-bottom button:hover{
    background-color: white;
    color: hsl(256, 26%, 20%);
    cursor: pointer;
}



@media (min-width: 1440px){

    body{
        max-width: 1800px;
    }

    h1{
        line-height: 60px;
    }

    header{
        padding: 20px 0 ;
    }

    .section-1 p{
        margin: 0.8em 0;
    }

    .head-desktop{
        display: flex;
       width: 78%;
       margin: 0 auto;
       gap: 1em;
       justify-content: space-between;

    }

    .head-desktop button{
        color: black;
        border: 3px solid black;
        padding: 10px 30px;
        font-size: 1rem;
        font-weight: 700;
        font-family: 'karla';
        transition: 0.5s;
    }

    .head-desktop button:hover{
        background-color: black;
        color: white;
        cursor: pointer;
    }

    .section-1 button{
    transition: 0.5s;
    }

   

    .head-desktop a{
        text-decoration: none;
        font-family: 'karla';
        color: hsl(273, 4%, 51%);
        font-weight:700;
    }

    .links{
        display: flex;
        width: 680px;
        gap: 2em;
        align-items: center;
        justify-content: end;
       
    }

    .section-2-bottom{
        background-image: url("images/bg-pattern-how-we-work-desktop.svg");
        background-position: top right;
        background-repeat: no-repeat;
        height:250px;
        flex-direction: row;
        justify-content: space-between;
       padding: 0 60px;
    
    }

    .section-2-bottom h1{
        text-align: left;
        margin: 0;
        font-size: 3em;
        max-width: 8.7em;
        font-weight: 500;
    }



    .head{
        display: none;
    }

    .image{
        background: url("images/image-intro-desktop.jpg");
        background-repeat: no-repeat;
        background-position: bottom right;
        height: 780px;
        width: 78%;
        margin: 0 auto;
        z-index: 1000;
        display: flex;
        align-items: center;
       
        
    }

    .intro-pattern{
        position: absolute;
        top: 0px;
        right: 0px;
        display: block;
    }

    .bg-color{
        background: none;
        position: relative;
    }



    .top{
      
        display: flex;
        flex-direction: column;
        align-items: left;
       width: 40%;
       position: absolute;
       gap: 1em;
       
    }
    
    .bg-color{
       position: relative;
       height: 700px;
        background-color: hsl(256, 26%, 20%);
    }


    .section-1-btn{
        align-self: flex-start;
    }

    h1{
        font-size: 5em;
    }

    .section-1{
        background-image: url("images/bg-pattern-intro-left-desktop.svg");
        background-position: left bottom;
        background-repeat: no-repeat;
        width: 100%;
        height: 980px;
        z-index: 9999;
        position: absolute;

      
    }

    .section-1 h1, p{
        text-align:left;
        margin: 0;
   
     
    }

    .section-1 h1{
        max-width: 7em;
    }

    .section-1 p{
        max-width: 34em;
       
        
    }

    .intro-img{
       display: none;
    }

    .top-hr{
        order: 3;
        margin-top: 10em;
        width: 10%;
    }

    .section-2{
        order: 4;
        align-items: flex-start;
        
        width: 70%;
    }

    .section-2 p{
        text-align: left;
        max-width: 23em;
    }

    

    .footer{
        order: 5;
    }

    .icon-section{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 1em;
        
     
        
    }

    .hr-div{
        width: 70%;
        display: flex;
        justify-content: flex-start;
        margin: 0 auto;
    }

    .icon-div{
        display: block;
    }

    .footer hr{
        width: 70%;
    }

    .grid-section{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 3em;
        width: 70%;
    }

 
    .logo{
        align-self: center;
    }

    .footer-top{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    
        width: 70%;
    }

    .social{
        
       width: 15%;
    }

    span{
        text-align: left;
    }

}

